.card {
  width: 12rem;
  background-color: #3f3c3c;
  border-radius: var(--rounded-md);
  padding: var(--mp-4);
  position: relative;
  box-shadow: none;
  transition: box-shadow 0.1s ease-in;
  margin: var(--mp-2) var(--mp-4);
}

.card a {
  text-decoration: none;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 1px 5px var(--color-gray-500);
  background-color: transparent;
}

.card .card-box {
  display: flex;
  flex-direction: column;
}

.card-box>.card-img {
  margin-bottom: var(--mp-5);
}

.card-img>img {
  border-radius: var(--rounded-md);
  width: 11rem;
  height: 11rem;
  object-fit: cover;
}

.card-box>.card-desc {
  width: 100%;
  text-align: left;
}

.card-box>.card-desc>.name {
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-desc>.name a {
  color: #FFF;
  font-weight: 700;
  vertical-align: middle;
}

.card-box>.card-desc>.sub-desc a {
  color: var(--color-gray-500);
  text-decoration: none;
}

.card-box>.card-desc>.sub-desc a:hover {
  text-decoration: underline;
}