.search-form {
  margin: calc(var(--mp-1)*10) auto 0;
  padding-bottom: 10px;
}

.search-form .search-bar-box {
  margin: auto;
  display: flex;
  max-width: var(--max-w-lg);
}

.search-bar-box .search-bar {
  flex: 1;
}