.cs-table {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--mp-8);
  width: 100%;
}

.cs-table-container {
  margin-bottom: var(--mp-2);
  padding-bottom: var(--mp-2);
  vertical-align: middle;
  display: inline-block;
  min-width: 100%;
}

.cs-table-box {
  overflow: hidden;
  border-bottom: 1px;
  border-color: var(--color-gray-200);
  border-radius: var(--rounded-lg);
  /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); */
}

.cs-table-box table {
  min-width: 100%;
  table-layout: fixed;
  border-top-width: 0px;
  border-bottom-width: 2px;
  border-color: var(--color-gray-200);
  border-collapse: collapse;
}

.cs-table-box table a {
  text-decoration: none;
}

.cs-table-box table a:hover {
  text-decoration: underline;
}

/* table header */

.cs-table-header th {
  padding: var(--mp-3) var(--mp-6);
  text-align: left;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: var(--font-medium);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* table body */
.cs-table-body {
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-color: var(--color-gray-200);
}

.cs-table-body td {
  padding: var(--mp-6) var(--mp-4);
  white-space: nowrap;
  text-align: left;
}